html {
    font-size: 16px;
    font-family: "Avenir Book", Arial, Helvetica, sans-serif;
}

/* Header section */

header {
    box-sizing: border-box;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    position: fixed;
    z-index: 10;
    background-color: white;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;  
}

header .logo {
    text-transform: uppercase;
    color: grey;
    display: flex;
    justify-content: left;
    align-items: center;
}

header .desktop a {
    padding: 0 0.5rem;
}

header .desktop a:hover {
    color: #d9d9d9;
}

.logo b {
    font-weight: bold;
    color: black;
}

.logo span {
    margin-left: -.3rem;
}

header img {
    width: 3.5rem;
    height: 3.5rem;
}

header .mobile {
    display: none;
}


@media only screen and (max-width: 840px) {
    header .desktop {
        display: none;
    }

    header .mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    header {
        padding-top: 0.5rem;
    }
}

/* Banner section */

#banner {
    width: 100%;
    height: 47.5rem;
    box-sizing: border-box;
    padding: 8rem 3rem 4rem;
    background-color: #d9d9d9;
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: Avenir, Arial, Helvetica, sans-serif;
}

#banner section {
    width: 60%;
    height: 100%;
    overflow: hidden;
    padding-right: 3rem;
}

#banner section {
    display: flex;
    align-items: center;
}

#banner section img {
    width: 100%;
    height: auto;
}


#banner aside {
    width: 30%;
    color: #484848;
}

#banner aside h1 {
    font-size: 4rem;
    font-weight: bold;
}

#banner aside p {
    font-size: 2rem;
    font-weight: 500;
    padding: 3rem 0;
}

#banner aside a {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    background-color: #484848;
    max-width: 31.5rem;
    max-height: 3.75rem;
    text-align: center;
    padding: 1.125rem 0;
}

#banner aside a:hover {
    background-color: #333;
}

#banner aside a:active {
    background-color: darkred;
}

@media only screen and (max-width: 1260px) {
    html {
        font-size: 12px;
    }
    
    #banner {
        height: 42rem;
    }
}

@media only screen and (max-width: 930px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width: 840px) {
    html {
        font-size: 16px;
    }

    #banner {
        flex-direction: column;
        padding: 0;
        padding-top: 2rem;
        height: 55rem;
    }

    #banner section, #banner aside {
        width: 100%;
        padding: 0;
        display: block;
    }

    #banner aside {
        box-sizing: border-box;
        padding: 2rem 1rem 4rem;
        text-align: center;
    }
    
    #banner aside a {
        margin: 0 auto;
        max-width: 40rem;
        max-height: 5rem;
    }
}

/* Blog Section */

#blog .mobile {
    display: none;
}

#blog {
    width: 100%;
    max-height: 60rem;
    box-sizing: border-box;
    padding: 4rem 3rem;
    color: #555555;
    padding-right: 0;
    background-color: #f3f5f5;
}

#blog .desktop {
    display: flex;
}

#blog section {
    width: 60%;
    margin-right: 2rem;
}

#blog section img {
    width: 100%;
    height: auto;
}

#blog .thumb-post {
    display: flex;
    border: 1px solid #d9d9d9;
    border-right: none;
    border-top: none;
    padding: 1.5rem;
}

#blog .last-post {
    border-bottom: none;
}

#blog aside {
    width: 40%;
}

.thumb-post img {
    width: 35%;
    height: auto;
}

.thumb-post div {
    width: 65%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#blog h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: #484848;
    font-family: Avenir, Arial, Helvetica, sans-serif;
}

blockquote p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    line-height: 1.8rem;
}

#blog cite {
    font-size: 1.1rem;
    color: #484848;
    font-family: Avenir, Arial, Helvetica, sans-serif;
}

.thumb-post h3 {
    font-size: 2rem;
    font-weight: bold;
}

.thumb-post p {
    font-size: 1.25rem;
    padding: 1rem 0;
    line-height: 1.8rem;
}

.thumb-post a {
    text-decoration: none;
    color: #34b7ef;
    font-size: 1.25rem;
}

.active {
    background-color: #d9d9d9;
}

@media only screen and (max-width: 840px) {
    #blog {
        padding: 0;
        max-height: 110rem;
    }

    #blog .desktop {
        display: none;
    }

    #blog .mobile {
        display: block;
        padding: 2.5rem 0;
    }

    #blog .thumb-post {
        border: none;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
    }
    .thumb-post div {
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 2rem 1rem 0;
    }

    .thumb-post img {
        width: 100%;
        height: auto;
    }
}

/* Course Section */

#courses .mobile {
    display: none;
}

#courses {
    background-color: #d9d9d9;
    padding: 4rem 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #484848;
}

#courses h2 {
    font-size: 3rem;
    font-weight: bold;
    font-family: Avenir, Arial, Helvetica, sans-serif;
}

#courses .desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#courses .course {
    width: 31%;
    background-color: white;
    margin-top: 4rem;
    font-size: 1.25rem;
}

.course img {
    width: 100%;
    height: auto;
}

.course div {
    box-sizing: border-box;
    padding: 2rem 2rem 3rem;
}

.course h3 {
    font-size: 2rem;
    font-weight: bold;
}

.course .course-type {
    text-transform: uppercase;
    padding: 1rem 0;
    color: #34b7ef;
}

.course p {
    line-height: 1.8rem;
}

@media only screen and (max-width: 840px) {
    #courses {
        padding: 4rem 2rem 3rem;
        background-color: white;
        border: 1px solid #d9d9d9;
    }

    #courses .desktop {
        display: none;
    }

    #courses .mobile {
        display: block;
        font-size: 2rem;
        font-weight: bold;
        width: 100%;
        margin-top: 2rem;
    }

    #courses .mobile div {
        background-color: #d9d9d9;
        padding: 2rem;
        margin-bottom: 1rem;
    }
}

/* Thesis Section */

#thesis .mobile {
    display: none;
}

#thesis {
    color: #484848;
    background-color: #f3f5f5;
    padding: 4rem 0 3rem 3rem;
}

#thesis h2 {
    font-size: 3rem;
    font-weight: bold;
    font-family: Avenir, Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 4rem;
}

#thesis .desktop {
    display: flex;
}

#thesis section {
    width: 60%;
    margin-right: 2rem;
}

#thesis video {
    width: 100%;
    height: auto;
}

#thesis section h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

#thesis section p {
    font-size: 1.25rem;
    line-height: 1.8rem;
}

#thesis aside {
    width: 40%;
}

.thesis-post {
    display: flex;
    border: 1px solid #d9d9d9;
    border-right: none;
    border-top: none;
    padding: 1.5rem;
}

.last-post {
    border-bottom: none;
}

.thesis-post img {
    width: 35%;
    height: auto;
}

.thesis-post div {
    width: 65%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thesis-post h3 {
    font-size: 2rem;
    font-weight: bold;
}

.thesis-post p {
    font-size: 1.25rem;
    line-height: 1.8rem;
    padding-top: 1rem;
}

@media only screen and (max-width: 840px) {
    #thesis .desktop {
        display: none;
    }

    #thesis .mobile {
        display: block;
    }

    #thesis h2 {
        margin-bottom: 2rem;
    }

    #thesis {
        padding: 0;
        padding-top: 4rem;
    }
}

/* Footer */

footer {
    width: 100%;
    max-height: 7rem;
    background-color: #f3f5f5;
    color: #484848;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d9d9d9;
    box-sizing: border-box;
    padding: 1.5rem 2rem 4rem;
}

footer a {
    text-decoration: none;
    padding: 0 0.5rem;
    color: #484848;
}

footer a:hover {
    color: rgb(27, 27, 27);
}

@media only screen and (max-width: 840px) {
    footer .right {
        display: none;
    }

    footer {
        padding: 0;
    }

    footer p {
        padding: 3rem 2rem 2rem;
    }
}